<style>

* {
    box-sizing: border-box;
}


.column1 {border: 1px solid black; background-color: gray; padding: 15px; font-family: calibri;}
.column2 {border: 1px solid black; background-color: gray; padding: 15px; font-family: calibri;}
.column3 {border: 1px solid black; background-color: gray; padding: 15px; font-family: calibri;}



@media (min-device-width: 992px) {

.column1 {float: left; width:33%;}
.column2 {float: left; width:33%;}
.column3 {float: right; width:33%;}


*{box-sizing: border-box;

}

@media (min-width: 768) and (max-width: 991) {.column1 {width: 50%; float: left;}
.column2 {width: 50%; float:right;} .column3 {width: 100%; float: left;}}


@media (min-width: 0px) and (max-width: 767px) {
    .column1 {
        width: 100%;
    }
    .column2 {width:100%;}
    .column3 {width:100%;}
}





#chicken {
	font: bold;
	border: 1px solid black;
	background-color: pink;
	padding: 5px;
	margin-bottom:  30px;
	float: right;
	position: relative;
	bottom: 35px;
	left: 16px;
	
}

#beef {
	font: bold;
	border: 1px solid black;
	background-color: red;
	padding: 5px;
	margin-bottom:  20px;
	float: right;
	position: relative;
	bottom: 35px;
	left: 16px;

}

#sushi {
	font: bold;
	border: 1px solid black;
	background-color: yellow;
	padding: 5px;
	margin-bottom:  20px;
	float: right;
	position: relative;
	bottom: 35px;
	left: 16px;

}
</style>